body {
    background-color: #f7f7f7;
    font-family: "Open Sans", sans-serif;
  }
  
  .navbar {
    background-color: #1abc9c !important;
    color: #fff;
  }
  
  .form-group label {
    font-weight: 600;
    color: #34495e;
  }
  
  .form-control {
    border-radius: 4px;
    border-color: #d1d1d1;
  }
  
  .form-control:focus {
    border-color: #1abc9c;
    box-shadow: none;
  }
  
  .btn-success {
    background-color: #1abc9c;
    border-color: #1abc9c;
  }
  
  .btn-success:hover {
    background-color: #16a085;
    border-color: #16a085;
  }
  
  .card {
    border-radius: 4px;
    border-color: #d1d1d1;
    box-shadow: none;
  }
  
  .card-header {
    background-color: #1abc9c;
    color: #fff;
    border-color: #1abc9c;
  }
  
  .card-header h3 {
    font-weight: 600;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .table {
    font-size: 14px;
    background-color: #fff;
  }
  
  .table th {
    background-color: #1abc9c;
    color: #fff;
  }
  
  .table td {
    background-color: #f7f7f7;
    color: #444;
  }
  
  .table tr:nth-child(even) td {
    background-color: #e4e4e4;
  }
  
  .table-hover tbody tr:hover td {
    background-color: #d1d1d1;
    color: #333;
  }
  