body {
    background-color: #f7f7f7;
    font-family: "Open Sans", sans-serif;
  }
  
  .navbar {
    background-color: #1abc9c !important;
    color: #fff;
  }
  
  .form-group label {
    font-weight: 600;
    color: #34495e;
  }
  
  .form-control {
    border-radius: 4px;
    border-color: #d1d1d1;
  }
  
  .form-control:focus {
    border-color: #1abc9c;
    box-shadow: none;
  }
  
  .btn-success {
    background-color: #1abc9c;
    border-color: #1abc9c;
  }
  
  .btn-success:hover {
    background-color: #16a085;
    border-color: #16a085;
  }
  
  .card {
    border-radius: 4px;
    border-color: #d1d1d1;
    box-shadow: none;
  }
  
  .card-header {
    background-color: #1abc9c;
    color: #fff;
    border-color: #1abc9c;
  }
  
  .card-header h3 {
    font-weight: 600;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .table {
    font-size: 14px;
    background-color: #fff;
  }
  
  .table th {
    background-color: #1abc9c;
    color: #fff;
  }
  
  .table td {
    background-color: #f7f7f7;
    color: #444;
  }
  
  .table tr:nth-child(even) td {
    background-color: #e4e4e4;
  }
  
  .table-hover tbody tr:hover td {
    background-color: #d1d1d1;
    color: #333;
  }
  
  /* Toast styling */
.toast {
  background-color: #f0fff0;
  border-color: #1ABC9C;
  color: #333;
  padding: 5px;
}

.warning {
  background-color: #fff2f0;
  border-color: #b82222;
}

.toast .toast-header {
  background-color: #abb8b5;
  color: #333;
  border-color: #abb8b5;
}

.toast .toast-body {
  color: #333;
}

/* Button styling */
.btn-greenish {
  background-color: #90ee90;
  border-color: #90ee90;
  color: #333;
}

.btn-greenish:hover {
  background-color: #8dc68f;
  border-color: #8dc68f;
  color: #fff;
}

.btn-greenish:focus {
  box-shadow: 0 0 0 0.2rem rgba(144, 238, 144, 0.5);
}

.p-feature {
  margin-bottom: 0px;
  font-weight: bold
}

/* Custom CSS for greenish theme */
.custom-tabs .nav-link {
  color: #1ABC9C; /* Font color for inactive tabs */
  font-weight: bold; /* Font weight for inactive tabs */
  background-color: #E8F8F3; /* Background color for inactive tabs */
  border: none; /* Remove border for inactive tabs */
}

.custom-tabs .nav-link.active {
  color: #FFF; /* Font color for active tab */
  font-weight: bold; /* Font weight for active tab */
  background-color: #1ABC9C; /* Background color for active tab */
}

.custom-tabs .nav-link:hover {
  color: #FFF; /* Font color for hover state */
  background-color: #17A589; /* Background color for hover state */
}

.custom-tabs .nav-link:focus {
  box-shadow: none; /* Remove focus box shadow */
}

/* Align content in the middle of tabs */
.custom-tabs .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px
}
